html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: "Cairo", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #FFF;
}

hr {
    width: 100%;
    border-bottom: 1px solid #dedede;
}

.chart-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#chart {
    width: 1400px;
    height: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

svg {
    background-color: white;
}

path {
    transition: opacity 0.1s, transform 0.1s;
}

path.highlight {
    opacity: 1;
    transform: scale(1.02);
}

text {
    pointer-events: none;
}

.tooltip-wrapper {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 1;
}

.tooltip {
    display: flex;
    flex-direction: column;
    width: 343px;
    overflow: hidden;
    position: absolute;
    background-color: white;
    color: black;
    font-size: 14px;
    border-radius: 8px;
    transition: opacity 0.2s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
}

@media(max-width: 992px) {
    .tooltip {
        position: fixed;
        top: 40px !important;
        left: 0px !important;
        right: 0px !important;
        margin: 0 auto;
    }
}

.tooltip-header {
    display: flex;
    align-items: center;
    background-color: #606164;
    color: white;
    padding: 16px;
}

.tooltip-header h2 {
    font-size: 16px;
}

.tooltip-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 16px;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
}
